.about {
  min-height: 992px;
  background-color: $color-alabaster;
  color: $color-charcoal;
  padding: 117px 0 60px 0;

  @include vp-1199 {
    padding: 81px 0 60px 0;
  }

  @include vp-767 {
    padding: 34px 0 35px;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 59px 34px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  @include vp-767 {
    gap: 14px;
  }
}

.about__header {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  width: 90%;

  @include vp-767 {
    padding-top: 19px;
    width: 95%;
  }
}

.about__header p {
  font-size: 22px;
  line-height: 32px;
  margin-top: 43px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 25px;
    width: 77%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    margin-top: 13px;
  }
}

.about__description {
  grid-area: 1/2/-1/-1;
  width: 86%;
  line-height: 26px;

  @include vp-767 {
    width: 100%;
  }
}

.about__description-title {
  color: $color-cerulean-blue;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 36px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 23px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.about__description p {
  margin-bottom: 30px;

  @include vp-1199 {
    width: 85%;
    line-height: 20px;
    margin-bottom: 35px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-top: -13px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.about__button {
  padding: 20px 80px 20px 29px;
  transition: all 0.3s ease;

  &::after {
    right: 4px;
    top: 4px;
  }

  @include vp-1199 {
    padding: 20px 81px 20px 29px;
  }

  @include vp-767 {
    padding: 15px 58px 13px 19px;
  }

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    color: rgba($color-default-white, 0.7);

    &::after {
      background-color: $color-default-white;
    }
  }
}

.about__button:hover .about__button-icon,
.about__button:focus .about__button-icon {
  stroke: $color-endeavour;
  transform: rotate(45deg);
}

.about__button:disabled .about__button-icon {
  stroke: rgba($color-default-white, 0.7);
}

.about__button-icon {
  position: absolute;
  top: 22px;
  right: 21px;
  z-index: 1;
  stroke: $color-default-white;

  @include vp-767 {
    top: 16px;
    right: 16px;
    width: 10px;
    height: 10px;
  }
}

.about__features {
  grid-area: 2/1/3/3;
  background-color: $color-cerulean-blue;
  border-radius: 20px;
  color: $color-default-white;
  padding: 92px 106px 57px 124px;

  @include vp-1199 {
    padding: 61px 40px 39px 59px;
    margin-top: 51px;
  }

  @include vp-767 {
    margin: 0;
    margin-top: 26px;
    padding: 43px 20px 43px 30px;
  }
}

.about__features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px 50px;

  @include vp-1199 {
    gap: 40px 50px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 23px 0;
  }
}

.about__features-item {
  position: relative;
  display: flex;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  padding: 29px 23px 29px 61px;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 30px;
    background-color: $color-cerulean-blue;
    top: -11px;
    left: -4px;
  }

  @include vp-1199 {
    padding: 30px 43px 26px 30px;
    flex-direction: column;
    gap: 8px;
  }

  @include vp-767 {
    padding: 19px 15px 22px 19px;
    gap: 4px;
  }
}

.about__features-item svg {
  position: absolute;
  content: "";
  top: -13px;
  left: -7px;
  z-index: 1;

  @include vp-1199 {
    top: -12px;
    left: -8px;
  }

  @include vp-767 {
    width: 14px;
    height: 18px;
    top: -10px;
    left: -7px;
  }
}

.about__features-item h4 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  margin: 0;
  width: 45%;

  @include vp-1199 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    width: 67%;
  }

  @include vp-767 {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}

.about__features-item p {
  margin: 0;
  font-weight: 300;
  line-height: 20px;
  padding-left: 37px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    font-size: 14px;
    width: 81%;
    max-width: 350px;
  }
}

.about__features-item--participants p {
  padding-left: 20px;

  @include vp-1199 {
    padding-left: 0;
  }
}

.about__features-item--grant p {
  padding-left: 47px;

  @include vp-1199 {
    padding-left: 0;
  }
}

.about__features-item--countries p {
  padding-left: 32px;

  @include vp-1199 {
    padding-left: 0;
  }
}
