.custom-select {
  position: relative;
  width: 100%;
  padding: 44px 0 6px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;


  @include vp-1199 {
    padding: 40px 0 6px;
  }

  @media screen and (max-width: 767px) {
    padding: 26px 0 5px;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 25%;
    left: 0;
    font-size: 14px;
    line-height: 14px;
    color: rgba($color-alabaster, 0.8);

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity  0.3s ease;

    pointer-events: none;

    &--secondary {
      color: rgba($color-charcoal, 0.8);
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 14px;
      top: 15%;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px 19px 5px 10px;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba($color-default-white, 0.3);
    border-radius: 8px;
    outline: none;
    cursor: pointer;

    transition: border 0.3s ease;

    @include vp-767 {
      height: 44px;
    }

    &:hover {
      border: 2px solid $color-default-white;
    }

    &:focus,
    &:active {
      border: 2px solid $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: 10px;
    z-index: 1;

    width: 100%;
    max-height: 195px;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    background-color: #ffffff;
    border: 1px solid $color-default-white;
    border-radius: 8px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    padding: 17px 20px;

    outline: none;
    cursor: pointer;

    transition: background-color 0.3s ease;

    &[aria-selected="true"] {
      background-color: $color-transparent;

      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-transparent;
        }
      }

      &.focus-visible:focus {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &.focus-visible:focus {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__error {
    position: absolute;
    bottom: -15px;
    left: 0;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity 0.3s ease 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 9px;
    margin-left: auto;

    background-color: $color-default-white;

    transition: transform 0.3s ease;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 1;
    }

    .custom-select__item {
      color: $color-charcoal;
      font-size: 14px;
      line-height: 14px;

      &:hover {
        color: $color-cerulean-blue;
        background-color: $color-default-white;
      }

      &:focus,
      &:active {
        color: $color-default-white;
        background-color: $color-cerulean-blue;
      }
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
      font-size: 14px;
      line-height: 18px;
      color: $color-alabaster;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 1px solid $color-wild-watermelon;
      background-color: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border: 2px solid rgba($color-wild-watermelon, 0.5);
      }
    }
  }

  &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  }

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.custom-select__button--secondary {
  border: 1px solid rgba($color-charcoal, 0.3);

  &:hover {
    border: 1px solid $color-charcoal;
  }

  &:focus,
  &:active {
    border: 1px solid $color-charcoal;
  }

  &:disabled {
    pointer-events: none;
    border: 1px solid rgba($color-mischka, 0.5);
    background-color: rgba($color-mischka, 0.2);
  }
}

.custom-select__icon--secondary {
  background-color: $color-charcoal;
}

.custom-select.is-open .custom-select__list--secondary {
  border: 1px solid $color-charcoal;
  bottom: 0;
}

.custom-select.not-empty .custom-select__text--secondary {
  color: $color-charcoal;
}
