.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 350px;
  padding: 15px 0 2px;

  &--secondary {
    padding: 17px 0 2px;
  }

  @media screen and (max-width: 767px) {
    padding: 4px 0 11px;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: rgba($color-alabaster, 0.8);

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 20px;
    }

    textarea {
      height: 98px;

      @media (max-width: 767px) {
        height: 94px;
      }
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 350px;
      min-height: 50px;
      padding: 10px;
      background-color: $color-transparent;
      border: 1px solid rgba($color-default-white, 0.3);
      border-radius: 8px;
      outline: none;
      color: $color-default-white;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
        min-height: 44px;
      }

      &:hover {
        border: 1px solid $color-default-white;
      }

      &:active,
      &:focus {
        border: 1px solid $color-default-white;
      }

      &:disabled {
        border: 1px solid rgba($color-default-white, 0.4);
        background-color: rgba($color-default-white, 0.2);
        pointer-events: none;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background-color: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border: 1px solid rgba($color-wild-watermelon, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.custom-input--secondary label {
  input {
    border: 1px solid rgba($color-charcoal, 0.3);
    color: $color-charcoal;
    padding: 10px;

    &:hover {
      border: 1px solid $color-charcoal;
    }

    &:focus,
    &:active {
      border: 1px solid $color-charcoal;
    }

    &:disabled {
      pointer-events: none;
      border: 1px solid rgba($color-mischka, 0.5);
      background-color: rgba($color-mischka, 0.2);
    }
  }
}

.custom-input__label--secondary {
  color: rgba($color-charcoal, 0.8);
  font-size: 14px;
  line-height: 14px;
}
