.faq {
  min-height: 992px;
  background-color: $color-alabaster;
  padding: 76px 0 50px 0;

  @include vp-1199 {
    min-height: 820px;
    padding: 39px 0 60px;
  }

  @include vp-767 {
    min-height: 590px;
    padding: 40px 0 35px;
  }
}

.faq__title {
  text-align: center;
  padding-bottom: 80px;

  @include vp-1199 {
    padding-bottom: 41px;
  }

  @include vp-767 {
    padding-bottom: 34px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 83%;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @include vp-1199 {
    width: 100%;
  }
}

.faq__item {
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
  }

  &:active {
    color: $color-endeavour;
  }
}

.faq__item:hover .faq__button,
.faq__item:focus .faq__button {
  background-color: $color-transparent;
}

.faq__item:hover .faq__button-icon,
.faq__item:focus .faq__button-icon {
  stroke: $color-cerulean-blue;
}

.faq__item:active .faq__button {
  background-color: $color-endeavour;
}

.faq__item:active .faq__button-icon {
  stroke: $color-default-white;
}

.faq__item:active .faq__item-title {
  color: $color-endeavour;
}

.faq__content {
  padding: 40px;

  &--study {
    padding: 34px 40px 34px 40px;
  }

  &--registration {
    padding: 29px 40px 36px 40px;
  }

  @include vp-1199 {
    padding: 30px;

    &--study {
      padding: 25px 29px;
    }

    &--registration {
      padding: 25px 29px;
    }
  }

  @include vp-767 {
    padding: 20px 15px;
  }
}

.faq__item.is-active [data-accordion="content"] {
  overflow: visible;
}

.faq__item.is-active .faq__content {
  padding-bottom: 40px;

  @include vp-1199 {
    padding-bottom: 33px;
  }

  @include vp-767 {
    padding-bottom: 20px;
  }
}

.faq__item.is-active {
  background-color: $color-cerulean-blue;
  color: $color-alabaster;
}

.faq__item.is-active:hover .faq__button,
.faq__item.is-active:focus .faq__button {
  background-color: $color-transparent;
  border: 1px solid $color-default-white;

  &::before {
    background-color: $color-default-white;
  }
}

.faq__item.is-active:active {
  background-color: $color-endeavour;
}

.faq__item.is-active:active .faq__button {
  background-color: $color-default-white;

  &::before {
    background-color: $color-endeavour;
  }
}

.faq__item.is-active .faq__item-title {
  color: $color-default-white;
}

.faq__item.is-active .faq__button {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;

  &::before {
    display: block;
  }
}

.faq__item.is-active .faq__button-icon {
  display: none;
}

.faq__button {
  position: relative;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $color-cerulean-blue;
  width: 39px;
  height: 39px;
  padding: 10px;
  background-color: $color-cerulean-blue;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 1px;
    background-color: $color-endeavour;
    top: 19px;
    left: 10px;
    display: none;
  }

  &--study,
  &--registration {
    margin-top: -11px;
  }

  @include vp-1199 {
    &--study,
    &--registration {
      margin-top: 0;
    }
  }
}

.faq__button:disabled {
  background-color: $color-mischka;
  border: 1px solid $color-mischka;
  pointer-events: none;
}

.faq__button:disabled .faq__button-icon {
  stroke: rgba($color-default-white, 0.7);
}

.faq__button-icon {
  stroke: $color-default-white;
}

.faq__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__item-title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: $color-cerulean-blue;
  max-width: 650px;

  &--study {
    max-width: 500px;
  }

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
    max-width: 505px;

    &--study {
      max-width: 445px;
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    padding-top: 0;
    max-width: 75%;
  }
}

.faq__item-title--short {
  max-width: 550px;

  @include vp-1199 {
    max-width: 445px;
  }
}

.faq__description p {
  margin: 0;
  max-width: 637px;
  line-height: 26px;
  padding-top: 12px;
  margin-bottom: -7px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 14px;
    max-width: 577px;
  }

  @include vp-767 {
    font-size: 14px;
    padding-top: 17px;
  }
}
