.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: $ff-manrope;
    line-height: 26px;
    width: 510px;
    min-height: 611px;
    padding: 51px 80px;
    border-radius: 16px;
    color: $color-charcoal;
    background-color: $color-default-white;

    @include vp-1199 {
      padding: 54px 80px;
      min-height: 602px;
    }

    @include vp-767 {
      width: 100%;
      padding: 15px 15px 38px 15px;
      min-height: 521px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    @include vp-767 {
      width: 16px;
      height: 16px;
      padding: 2px;
      top: 17px;
      right: 21px;
    }

    &:hover,
    &:focus {
      outline: none;

      svg {
        opacity: 0.5;
      }
    }

    &:active {
      svg {
        opacity: 1;
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__form form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  color: $color-cerulean-blue;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 22px;
  }
}

.modal__description {
  color: $color-charcoal;
  text-align: center;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 19px;

  @include vp-1199 {
    line-height: 20px;
    margin-top: 14px;
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    max-width: 78%;
    margin-top: 6px;
    margin-bottom: 18px;
  }
}

.modal__button {
  position: relative;
  width: 56%;
  margin: 0 auto;
  padding: 19px 72px 19px 22px;
  margin-top: -38px;
  background-color: $color-transparent;

  &::after {
    right: 4px;
  }

  @include vp-767 {
    width: 100%;
    padding: 14px 59px 15px 22px;
    margin-top: -7px;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-cerulean-blue;
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    color: rgba($color-default-white, 0.7);

    &::after {
      background-color: $color-default-white;
    }
  }
}

.modal__button:hover svg,
.modal__button:focus svg,
.modal__button:active svg {
  stroke: $color-cerulean-blue;
}

.modal__button svg {
  position: absolute;
  content: "";
  right: 22px;
  z-index: 10;
  stroke: $color-default-white;

  @include vp-767 {
    right: 15px;
  }
}

.modal__close-btn svg {
  @include vp-767 {
    width: 16px;
    height: 16px;
  }
}
