.nav {
  width: 286px;
  max-height: 398px;
  padding: 30px 25px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  overflow-y: auto;
  visibility: hidden;
  transform: translate(50%, -50%) scale(0);
  transition: all 0.3s ease;

  @include vp-767 {
    padding: 29px 25px 30px 24px;
  }
}

.nav.is-opened {
  visibility: visible;
  transform: translate(0, 0) scale(1);
  z-index: 2;

  &.nav__link {
    cursor: pointer;
  }

  @include vp-767 {
    width: 100%;
    top: 80px;
  }
}

.nav.is-opened .nav__link {
  cursor: pointer;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.nav__link {
  color: rgba($color-default-white, 0.7);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  &--current {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    color: $color-default-white;
    outline: none;
  }
}

.nav__sub-nav-list {
  list-style: none;
  margin: 0 0 0 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.nav__item.is-active .nav__sub-nav-list {
  margin-top: 10px;

  @include vp-767 {
    margin-top: 9px;
  }
}

.nav__sub-nav-list a {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  text-transform: none;
  letter-spacing: 0.03px;
  overflow: hidden;
}

.nav__link-icon {
  fill: none;
  stroke: rgba($color-default-white, 0.7);
  margin-left: 5px;

  @include vp-767 {
    margin-left: 7px;
  }
}

.nav__item.is-active .nav__link-icon {
  transform: rotate(180deg);
  stroke: $color-default-white;
}

.nav__link--current .nav__link-icon {
  stroke: $color-default-white;
}
