.participation {
  min-height: 784px;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding: 96px 0 60px 0;

  @include vp-1199 {
    padding: 58px 0 101px;
    min-height: 768px;
  }

  @include vp-767 {
    padding: 59px 0 69px;
  }
}

.participation__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 498px);
  gap: 138px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.participation__header h2 {
  color: $color-default-white;
  margin: 40px 0 43px 0;

  @include vp-1199 {
    margin: 40px 0 27px 0;
  }

  @include vp-767 {
    margin: 9px 0;
  }
}

.participation__header p {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 33px;

  @include vp-1199 {
    line-height: 20px;
    width: 77%;
    margin-bottom: 36px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.participation__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.participation__image {
  background-color: $color-endeavour;
  border-radius: 30px;
  min-height: 363px;

  @include vp-1199 {
    min-height: 375px;
  }

  @include vp-767 {
    min-height: 200px;
  }
}

.participation__description p {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 55px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 41px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.participation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 49px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 0 0 15px;
    gap: 15px 0;
  }
}

.participation__item {
  position: relative;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 23px 63px 21px 25px;

  &::before {
    position: absolute;
    content: attr(data-number);
    width: 25px;
    height: 34px;
    background-color: #316dc2;
    font-size: 20px;
    top: -8px;
    left: -5px;
  }

  @include vp-1199 {
    padding: 25px 40px 25px 24px;
    line-height: 20px;

    &::before {
      top: -5px;
      left: -6px;
    }
  }

  @include vp-767 {
    padding: 19px 28px 17px 24px;
    font-size: 14px;
    line-height: 20px;

    &::before {
      top: -4px;
      left: -9px;
      width: 21px;
      height: 31px;
      padding: 5px;
      font-size: 18px;
    }
  }
}
