.programs {
  min-height: 762px;
  background-color: $color-alabaster;
  color: $color-charcoal;
  padding: 60px 0 100px 0;

  @include vp-1199 {
    min-height: 716px;
    padding: 40px 0 70px 0;
  }

  @include vp-767 {
    min-height: 625px;
    padding: 32px 0 55px;
  }
}

.programs__wrapper {
  position: relative;
}

.programs__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.programs__title {
  margin-top: 18px;

  @include vp-1199 {
    margin-top: 2px;
  }
}

.programs__link-wrapper {
  @include vp-767 {
    position: absolute;
    bottom: -32px;
  }
}

.programs__link {
  padding: 20px 80px 20px 29px;
  transition: all 0.3s ease;

  &::after {
    top: 4px;
    right: 3px;
  }

  @include vp-767 {
    padding: 14px 67px 14px 30px;
  }

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    color: rgba($color-default-white, 0.7);

    &::after {
      background-color: $color-default-white;
    }
  }
}

.programs__link:hover .programs__link-icon,
.programs__link:focus .programs__link-icon {
  stroke: $color-endeavour;
  transform: rotate(45deg);
}

.programs__link.is-disabled {
  background-color: $color-transparent;
  color: $color-mischka;
  border: 1px solid $color-mischka;

  pointer-events: none;

  &::after {
    background-color: $color-mischka;
  }
}


.programs__link.is-disabled .programs__link-icon {
  stroke: rgba($color-default-white, 0.7);
}

.programs__link svg {
  position: absolute;
  content: "";
  z-index: 1;
  top: 21px;
  right: 21px;
  stroke: $color-default-white;

  @include vp-767 {
    top: 15px;
    right: 16px;
    height: 10px;
    width: 10px;
  }
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
}

.programs__item {
  position: relative;
  border-radius: 12px;
  background-color: $color-alabaster;
}

.programs__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.programs__image {
  width: 100%;
}

.programs__info {
  position: absolute;
  bottom: 0;
  padding: 20px 51px 21px 20px;

  @include vp-1199 {
    padding: 20px 42px 21px 20px;
  }

  @include vp-767 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 10px 18px 10px;
  }
}

.programs__info h3 {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  background-color: $color-default-white;
  padding: 14px 18px 3px 18px;
  margin: 0;
  margin-top: -1px;
  border-radius: 12px 12px 0 0;
  width: 60%;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    bottom: 1px;
    right: -19px;
    background-image: url("../img/svg/angle-top.svg");
    background-repeat: no-repeat;
  }

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
    width: 66%;
    padding: 12px 18px 5px;
  }

  @include vp-767 {
    width: 54%;
    font-size: 16px;
    line-height: 18px;
    padding: 20px 18px 7px;
  }
}

.programs__description {
  display: flex;
  justify-content: space-between;
  background-color: $color-default-white;
  padding: 9px 18px 16px 18px;
  border-radius: 0 12px 12px 12px;
  margin-top: -2px;
  align-items: center;

  @include vp-1199 {
    padding: 7px 17px 10px 18px;

    &--study {
      padding: 14px 17px 19px 18px;
    }
  }

  @include vp-767 {
    padding: 13px 18px 13px 18px;
  }
}

.programs__description p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  width: 86%;

  @include vp-1199 {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.programs__button-arrow {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  display: block;
  transition: all 0.3s ease;

  @include vp-767 {
    margin-top: -3px;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
  }
}

.programs__button-arrow:hover svg,
.programs__button-arrow:focus svg {
  stroke: $color-cerulean-blue;
  transform: rotate(45deg);
}

.programs__button-arrow:active svg {
  stroke: rgba($color-cerulean-blue, 0.7);
  transform: rotate(45deg);
}

.programs__button-arrow.is-disabled {
  background-color: $color-mischka;
  pointer-events: none;
}

.programs__button-arrow.is-disabled svg {
  stroke: rgba($color-default-white, 0.6);
}

.programs__button-arrow svg {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: $color-default-white;
}

.programs__text {
  padding: 11px 10px 7px 0;

  @include vp-1199 {
    padding: 0;
    width: 80%;
  }
}

.programs__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 52px;
}

.programs__scrollbar {
  width: 100%;
  height: 2px;
  margin: 0 0 2px;
  background-color: rgba($color-cerulean-blue, 0.2);

  @include vp-767 {
    display: none;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.programs__buttons {
  display: flex;
  gap: 10px;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.programs__button {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: $color-transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
  }

  &:disabled {
    pointer-events: none;
  }
}

.programs__button:active svg {
  stroke: rgba($color-cerulean-blue, 0.7);
}

.programs__button:disabled svg {
  stroke: $color-mischka;
}

.programs__button svg {
  stroke: $color-cerulean-blue;
}

.programs__button--prev svg {
  transform: rotate(180deg);
}
