.reviews {
  position: relative;
  min-height: 770px;
  padding: 76px 0 119px 0;
  background-color: $color-alabaster;
  color: $color-cerulean-blue;

  @include vp-1199 {
    padding: 39px 0 70px;
    min-height: 687px;
  }

  @include vp-767 {
    padding: 35px 0 25px;
    min-height: 589px;
  }
}

.reviews__container {
  width: 100%;
  max-width: 1240px + 2 * $padding-desktop;
  margin: 0 auto;
  padding: 0 $padding-desktop;

  @include vp-1199 {
    padding: 0 0 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.reviews__slider {
  width: 100%;
  margin-top: 59px;

  @include vp-1199 {
    margin-top: 41px;
  }

  @include vp-767 {
    margin-top: 32px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.reviews__item {
  max-width: 604px;
  min-height: 430px;
  height: auto;
  padding: 51px 49px 42px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #316dc2;
  border-radius: 16px;

  @include vp-1199 {
    max-width: 560px;
    gap: 24px;
    min-height: auto;
    padding: 51px 49px 48px;
  }

  @include vp-767 {
    padding: 27px 14px 25px;
  }
}

.reviews__author {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    gap: 11px 0;
  }
}

.reviews__avatar {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @include vp-767 {
    gap: 0 9px;
    max-width: 62%;
    align-items: center;
  }
}

.reviews__image {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: $color-mischka;
}

.reviews__avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    width: 60px;
    height: 60px;
  }
}

.reviews__avatar picture {
  width: 90px;
}

.reviews__avatar p {
  font-size: 18px;
  line-height: 24px;
  max-width: 94px;

  @include vp-1199 {
    font-size: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
    max-width: 90px;
  }
}

.reviews__info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
  align-items: center;

  @include vp-767 {
    gap: 10px 25px;
    width: 77%;
  }
}

.reviews__info dl {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-767 {
    gap: 7px;
  }
}

.reviews__info dt {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews__info dd {
  margin: 0;
  max-width: 145px;
  font-size: 14px;
  line-height: 18px;
  color: rgba($color-charcoal, 0.9);

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.reviews__text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.reviews__text p {
  margin: 0;
  padding-top: 14px;
  color: $color-charcoal;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
    padding-top: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
  }
}

.reviews__controls {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  align-items: center;
  gap: 0 52px;

  @include vp-1199 {
    margin-top: 39px;
  }
}

.reviews__scrollbar {
  width: 100%;
  height: 2px;
  margin: 0 0 2px;
  background-color: rgba($color-cerulean-blue, 0.2);

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.reviews__buttons {
  display: flex;
  gap: 10px;

  @include vp-767 {
    position: absolute;
    top: 33px;
    right: 14px;
  }
}

.reviews__button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
  }

  &:disabled {
    pointer-events: none;
  }
}


.reviews__button:active svg {
  stroke: rgba($color-cerulean-blue, 0.7);
}

.reviews__button:disabled svg {
  stroke: $color-mischka;
}

.reviews__button svg {
  stroke: $color-cerulean-blue;
}

.reviews__button--prev svg {
  transform: rotate(180deg);
}
